<link rel="stylesheet" href="/css/secondary.css">

<header class="row p-3 border-bottom border-info border-5">
  <h1 class="col-10">
    <a href="/">
      Med Planner
    </a>
  </h1>
  <nav class="col-2">
      <a class="btn" href="/dashpatient">
        Home
      </a>
      <a class="btn logout" href="/logout">
        Logout
      </a>
  </nav>
</header>
<section>
{{#each patients as |patient|}}
  <h2 class="p-3 text-center">Welcome {{last_name}}, {{first_name}}</h2>
  {{/each}}
</section>

<section>
  {{#each patients as |patient|}}
<div class="container">
  <div class="row justify-content-md-center p-3">
    <div class="col col-lg-5">
       <div class="card card-round p-1" style="width: 30rem;">
  <div class="card-header fs-3 position-relative">
    {{ last_name }}, {{ first_name }} <span class="position-absolute top-50 end-0 translate-middle-y"><a class="btn" href='/dashpatient/edit/{{id}}'>Edit</a></span> 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item fs-5">Birthdate: {{ birthdate}}</li>
    <li class="list-group-item fs-5">Prefer Contact: {{ contact_preference }}</li>
  </ul>
</div>
</div>
{{/each}}
</section>

{{#each patients}}
  <h2 class="text-center">Appointments:</h2>
<section class="card-group">
{{#each appointments}}
  <div class="row row-cols-1 row-cols-md-3 p-1">
    <div class="col-3">
       <div class="card card-round p-1" style="width: 25rem;">
  <div class="card-header fs-3 position-relative">
   Dr. {{ caregiver.last_name }}, {{ caregiver.first_name }}<span class="position-absolute top-50 end-0 translate-middle-y"><button type="submit" class="btn">Select</button></span> 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item fs-5">Specialty: {{ caregiver.specialty }}</li>
    <li class="list-group-item fs-5">Address: {{ caregiver.address }}</li>
    <li class="list-group-item fs-5">Phone: {{ caregiver.phone }}</li>
    <li class="list-group-item fs-5">Practice: {{ caregiver.practice_name }}</li>
  </ul>
</div>
</div>
</div>
{{/each}}
</section>
{{/each}}


<script src="/javascript/logout.js"></script>