<link rel="stylesheet" href="/css/secondary.css">

<header class="row p-3 border-bottom border-info border-5">
  <h1 class="col-10">
    <a href="/">
      Med Planner
    </a>
  </h1>
  <nav class="col-2">
      <a class="btn" href="/dashcare">
        Home
      </a>
      <a class="btn logout" href="/logout">
        Logout
      </a>
  </nav>
</header>
<section>
{{#each caregivers as |caregiver|}}
  <h2 class="p-3 text-center">Welcome Dr. {{last_name}}, {{first_name}} <span><a class="btn" href='/dashcare/edit/{{id}}'>Edit</a></span></h2>
  {{/each}}
</section>


{{#if patients.length}}
<section class="card-group">
  {{#each patients as |patient|}}
  <div class="row row-cols-1 row-cols-md-3 p-1">
    <div class="col-3">
       <div class="card card-round p-1" style="width: 25rem;">
  <div class="card-header fs-3 position-relative">
    {{ last_name }}, {{ first_name }}<span class="position-absolute top-50 end-0 translate-middle-y"><button type="submit" class="btn">Select</button></span> 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item fs-5">Birthdate: {{ birthdate }}</li>
    <li class="list-group-item fs-5">Address: {{ address }}</li>
    <li class="list-group-item fs-5">Phone: {{ phone }}</li>
    <li class="list-group-item fs-5">Email: {{ email }}</li>
    <li class="list-group-item fs-5">Prefer Contact: {{ contact_preference }}</li>
  </ul>
</div>
</div>
</div>
{{/each}}
</section>
{{/if}}

<script src="/javascript/logout.js"></script>