<link rel="stylesheet" href="/css/secondary.css">

<header class="row p-3 border-bottom border-info border-5">
  <h1 class="col-10">
    <a href="/">
      Med Planner
    </a>
  </h1>
  <nav class="col-2">
    <a class="btn" href="/dashcare">
      Home
    </a>
    <a class="btn logout" href="/">
      Logout
    </a>
  </nav>
</header>
<section>
  <h1 class="p-3 text-center">Edit Your Information</h1>
</section>

<section>
  <form class="edit-caregiver-form row round p-3 g-3 text-center">
    <div class="input-group">
      <div class="col-md-3">
        <span class="fs-3">First</span><input type="text" class="form-control round text-center fs-5" id="first_name"
          value="{{caregiver.first_name}}" required>
      </div>
      <div class="col-md-3">
        <span class="fs-3">Last</span><input type="text" class="form-control round text-center fs-5" id="last_name"
          value="{{caregiver.last_name}}" required>
      </div>
      <div class="col-md-3">
        <span class="fs-3">Phone</span><input type="text" class="form-control round text-center fs-5" id="phone"
          value="{{caregiver.phone}}" required>
      </div>
      <div class="col-md-3">
        <span class="fs-3">Fax</span><input type="text" class="form-control round text-center fs-5" id="fax"
          value="{{caregiver.fax}}" required>
      </div>
      <div class="col-md-3">
        <span class="fs-3">Specialty</span><input type="text" class="form-control round text-center fs-5" id="specialty"
          value="{{caregiver.specialty}}" required>
      </div>
      <div class="col-md-6">
        <span class="fs-3">Email</span><input type="text" class="form-control round text-center fs-5" id="email"
          value="{{caregiver.email}}" required>
      </div>
      <div class="col-md-3">
        <span class="fs-3">Practice</span><input type="text" class="form-control round text-center fs-5"
          id="practice_name" value="{{caregiver.practice_name}}" required>
      </div>
      <div class="col-md-12">
        <span class="fs-3">Address</span><input type="text" class="form-control round text-center fs-5" id="address"
          value="{{caregiver.address}}" required>
      </div>
      <div class="col-12">
        <button class="btn m-3" type="submit">Update</button>
      </div>
    </div>
  </form>

</section>

{{!-- add a schedule header --}}
<section>
  <h1 class="p-3 mt-5 text-center">Add Schedule</h1>
</section>

{{!-- form to add a schedule --}}
<section>
  <form class="add-sched-form row round p-3 g-3 text-center">
    <div class="input-group">
      <div class="col-md-4">
        <span class="fs-3">Date</span><input type="date" class="form-control round text-center fs-5" id="new-date" required>
      </div>
      <div class="col-md-4">
        <span class="fs-3">Start</span><input type="time" class="form-control round text-center fs-5" id="new-start" required>
      </div>
      <div class="col-md-4">
        <span class="fs-3">End</span><input type="time" class="form-control round text-center fs-5" id="new-end" required>
      </div>
      <div class="col-12">
        <button id="add-sched" class="btn m-3" type="submit">Submit</button>
      </div>
    </div>
  </form>

</section>

{{!-- availability header --}}
<section>
  <h1 class="p-3 mt-5 text-center">Availability</h1>
</section>

{{!-- cards for each schedule --}}
<section class="card-group">
{{#each caregiver.caregiverschedules}}
  <div class="row row-cols-1 row-cols-md-3 p-1">
    <div class="col-3">
       <div class="card card-round p-1" style="width: 12rem;">
  <div class="card-header fs-3 position-relative">
   <button class="btn delete-sched-btn">Delete</button>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item fs-5">{{date}}</li>
    <li class="list-group-item fs-5">Start: {{start}}</li>
    <li class="list-group-item fs-5">End: {{end}}</li>
    <div class="hidden-sched-id" value={{id}}></div>
  </ul>
</div>
</div>
</div>
{{/each}}

<div id="hidden-id" value={{caregiver.id}}></div>

<script src="/js/edit-caregiver.js"></script>
<script src="/js/logout.js"></script>
