<link rel="stylesheet" href="/css/secondary.css">

<header class="row p-3 border-bottom border-info border-5">
  <h1 class="col-10">
    <a href="/">
      Med Planner
    </a>
  </h1>
  <nav class="col-2">
      <a class="btn" href="/dashpatient">
        Home
      </a>
      <a class="btn logout" href="/logout">
        Logout
      </a>
  </nav>
</header>
<section>
  <h1 class="p-3 text-center">Edit your personal information below</h1>
</section>

<section>
<form class="row round p-3 g-3 text-center edit-patient">
    <div class="input-group">
  <div class="col-md-4">
  <span class="fs-3">First</span><input type="text" class="form-control round text-center fs-5" id="first_name" value="{{patient.first_name}}" required>
  </div>
  <div class="col-md-4">
  <span class="fs-3">Last</span><input type="text" class="form-control round text-center fs-5" id="last_name" value="{{patient.last_name}}" required>
  </div>
  <div class="col-md-4">
  <span class="fs-3">Birthdate</span><input type="text" class="form-control round text-center fs-5" id="birthdate" value="{{patient.birthdate}}" required>
  </div>
  <div class="col-md-6">
  <span class="fs-3">Address</span><input type="text" class="form-control round text-center fs-5" id="address" value="{{patient.address}}" required>
  </div>
  <div class="col-md-3">
  <span class="fs-3">Phone</span><input type="text" class="form-control round text-center fs-5" id="phone" value="{{patient.phone}}" required>
  </div>
  <div class="col-md-3">
  <span class="fs-3">Preferred Contact</span><input type="text" class="form-control round text-center fs-5" id="contact_preference" value="{{patient.contact_preference}}" required>
  </div>
  <div class="col-12">
    <button class="btn" type="submit">Update</button>
    </div>
  </div>
</form>
</section>

<script src="/javascript/edit-patient.js"></script>
<script src="/javascript/logout.js"></script>